<div class="container">
    <div class="section group">
        <div class="cont span_2_of_3">
            <div class="blog_posts">
                <div class="blog_date bd">
                    <figure><span>5</span>Января</figure>
                </div>
                <div class="blog_desc bd1">
                    <div class="blog_heading">
                        <h3>О пакете VIP</h3>
                        <p>опубликован 5 января 2017 г.</p>
                    </div>
                    <div class="section group example">
                        <div class="col blog_1_of_2">
                            <div class="blog_img">
                                <img src="/images/pic11.jpg" alt="image" class="img-responsive zoom-img">
                            </div>
                        </div>
                        <div class="col blogdata_1_of_2">
                            <div class="blog_data">
                                <p>
                                    Вход в систему стоит 16000 тенге. 
                                    Вам необходимо подписать 3 активных партнеров.
                                    От каждого партнера Вы заработаете по 6000 тенге.
                                    Из них можно будет снять на карточку 16000 тенге. 
                                    А 2000 тенге хранятся в системе, 
                                    ими оплачивается вход на семинары 
                                    (презентация, банкет, фуршет, лотерея). 
                                    Семинары проходят в каждом городе Казахстана.
                                    Подписав под себя 3 партнеров, 
                                    Вы попадете в международный перелив. 
                                    Где не знакомые Вам люди будут вести Вас к МИЛЛИОНАМ.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="single">
                <p class="text">
                    VIP пакет состоит из 2 этапов. И в каждом этапе по 3 стола.
                    При закрытии 1 этапа Вам поступают 1000000 тенге. Из них 260000 тенге переходят в следующий этап. На втором этапе они к Вам вернутся. Часть денег уходят на открытии уровни в СТАРТ пакете. А остальные деньги перечисляют Вам на карточку (народный банк)
                    При закрытии 2 этапа компания дарит Вам автомобиль за 5000000 тенге и квартиру за 10000000 тенге !!!
                    *И ЭТО ВСЁ ВСЕГО ЛИШЬ ВЛОЖИВ 16000 ТЕНГЕ И ПРИГЛАСИВ СВОИХ 3 АКТИВНЫХ ПАРТНЕРОВ
                    Аsar Global Partners это новая международная компания. Вход 16 000 тенге
                    эти деньги вам вернуться!!! Нужно подписать троих людей, с каждого человека вам возвращается по 6 000 тенге. 2 000 остаются в системе. Итого 16 000 тенге вы возвращаете, после чего вы попадаете в межденародный перелив. Так называемый "СТОЛ". За которым вместе с вами могут оказать люди из других стран (Турция, Россия и.т). После того как за столом наберется 7 человек (включая вас). БОЛЬШЕ НИКОГО ПРИГЛАШАТЬ НЕ ПОТРЕБУЕТСЯ. За ваш стол людей выбирает компьютерная система. Вы переходите за 2 СТОЛ, после наполнения которого вы получаете 20 000 тенге и переходите за 3 СТОЛ. На данном этапе вы получаете 1 000 000 тенге. С 1 000 000 тг. вам нужно будет уплатить налог 10%. Из оставшейся суммы на 131 500 тг. вам необходимо приобрести старт пакет данной компании. Это обязательное условие!!!  И 260 000 внести чтобы перейти на второй этап 1 СТОЛА.
                    на 2 этапе 2 СТОЛА эти 260 000 вам возвращаются. Далее на 2 этапе 3 СТОЛА вы получаете 15 000 000 тенге!!! Обязательное условие!!!   За 5 000 000 тенге приобретение Бизнес пакетов и Авто, за 10 000 000 приобретение жилья!!! Новый международный проект!!!

                </p>

            </div>
        </div>
    </div>
</div>
