@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="blog-content">
    <div class="container">
        <div class="blog-content-head text-left">
            <h3>Страница в разработке</h3>
            <p>А пока прочтите <a href="/Blogs/Content?name=about-vip">этот блог</a></p>
        </div>
    </div>
</div>