@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="blog-content">
    <div class="container">
        <div class="blog-content-head text-left">
            <h3>Часто задаваемые вопросы</h3>
        </div>
        <div class="section group">
            <div class="rsidebar span_1_of_3 panel-group" id="accordion">
                <ul>
                    <li>
                        <span data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                            Вопрос 1
                        </span>
                    </li>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            ответ 1
                        </div>
                    </div>

                    <li>
                        <span data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                            Вопрос 2
                        </span>
                    </li>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            ответ 2
                        </div>
                    </div>

                    <li>
                        <span data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                            Вопрос 3
                        </span>
                    </li>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            ответ 3
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
