@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-slider">
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>
                    <img src="~/Images/banner_mountain.jpg" alt="">
                    <div class="caption">
                        <h3>Интернет-офис</h3>
                        <p>
                            Я являюсь бизнес партнерем компании <a class="company-link" href="http://asarglobal.com">ТОО "ASAR GLOBAL PARTNERS"</a>.
                            Моя комманда насчитывает более 20 активных партнерев, которая каждый раз становится больше.

                        </p>
                        <p>
                            Присоединяйтесь к нам и станьте финансовым независимым.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="beautifull" id="marketing">
    <div class="container">
        <div class="beautifull-header">
            <h4>Маркетинг план компании</h4>
            <p>
                Маркетинг план проекта AGP - это эффективная, динамичная и надежная бизнес система для получения высокой прибыли в кратчайшие сроки. Маркетинг план состоит из 7 уровней, позволяющая всем участникам получать очень высокий и неограниченный доход.
            </p>
        </div>
        <div class="beautifull-grids">
            <div class="col-md-4 beautiful-grid">
                <div class="icon1">
                    <i class="fa fa-hourglass-start fa-3x package-icons" aria-hidden="true"></i>
                </div>
                <div class="passion">
                    <h4><a href="~/Marketing/Start">СТАРТ ПАКЕТ</a></h4>
                    <p>Для участия в старт пакете нужно всего лишь 2000 тенге, из которых за 1000 вы активируетесь в системе, и за 1000 тенге приобретаете 1-й уровень.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 beautiful-grid">
                <div class="icon1">
                    <i class="fa fa-briefcase fa-3x package-icons" aria-hidden="true"></i>
                </div>
                <div class="passion">
                    <h4><a href="~/Marketing/Business"> БИЗНЕС ПАКЕТ</a></h4>
                    <p>
                        Для участия в Бизнес пакете нужно всего лишь 10000 тенге, из которых за 2000
                        Вы активируетесь в системе, и за 8000 тенге приобретаете 1-й уровень.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 beautiful-grid">
                <div class="icon1">
                    <i class="fa fa-star-o fa-3x package-icons" aria-hidden="true"></i>
                </div>
                <div class="passion">
                    <h4><a href="~/Marketing/VIP">VIP</a></h4>
                    <p>Для участия в данном проект нужно всего лишь 16000 тенге и 3-x активных партнеров.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>